body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.page {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    gap: 30px;
}

.article {
    flex: 3;
}

.sidebar {
    flex: 1;
}

.weekly {
    width: 100%;
    margin-bottom: 20px;
}

.profile {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.follow-btn {
    width: 100%;
    padding: 8px;
    background-color: #3d40f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.header {
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-bg-color, #3d40f3);
}

.left-section {
    /* background-color: lightblue; */
    width: 120px;
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.logo {
    height: 42px;
    width: auto;
    margin-left: 3px;
    border-radius: none;
}

.middle-section {
    flex: 1;
    margin-left: 24px;
    margin-right: 250px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container,input {
    background-color: white;
    position: relative;
    width: 420px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-right: 10px;
}

.search-bar {
    width: 100%;
    padding: 12px 140px 12px 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.link {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #6b7280;
    text-decoration: none;
}

.search-button {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 18px;
}

.right-section {
    font-size: 12px;
    width: 250px;
    margin-right: 70px;
    display: flex;
    counter-reset: row;
    align-items: center;
    justify-content: flex-end;
}

.login {
    color: white;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}

.Great {
    color: white;
    background-color: #3d40f3;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 12px;
    margin-left: 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

button.Great:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}