body {
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-bg-color, #3d40f3);
}

.left-section {
    /* background-color: lightblue; */
    width: 120px;
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.logo {
    height: 42px;
    width: auto;
    margin-left: 3px;
    border-radius: none;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 24px;
    margin-right: 250px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
  position: relative;
  width: 420px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-right: 10px;
}

.search-bar {
    width: 100%;
    padding: 12px 140px 12px 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.link {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #6b7280;
    text-decoration: none;
}

.search-button {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 18px;
}

.right-section {
    background-color: lightgreen;
    width: 200px;
    margin-right: 70px;
}

